header{
    width: 100%;
    height: 150px;
    background-color: rgb(24, 25, 26);    
}
nav{
    width: 100%;
    height: 50px;
}
ul{
    text-align: center;
    height: 100%;
    margin: 0;
}
li{
    display: inline-block;
    padding: 30px;
    margin: 0px 0 0 0;
}
a{
    text-decoration: none;
    color:rgb(255, 255, 253);
    font-size: 22px;
    margin: 10px 0 0;
}
img{
    max-width: 100%;
    height: auto;
}
.container{
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.grid{
    display: grid;
}
h1 {
    width: 100%;
    color: rgb(30, 29, 37);
}
.home-img{
    width: 300px;
    justify-self: center;
}
.home-title{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
}
.home-description{
    margin-bottom: 1.5rem;
}
.button{
    display: inline-block;
    background-color: rgb(238, 134, 151);
    color: #fff;
    padding:1rem 1.5rem ;
    border-radius: 0.5rem;
    font-weight: 600;
}
@media (min-width: 576px){
    .container{
      grid-template-columns: repeat(2, 1fr);  
      align-items: center;
      padding: 5rem 2rem 0;
      margin: auto;
    }
    .home-img{
        width: 100%;
        order: 1;
    }
    
}
.posting{
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.bag{
    display: bag;
}
.post-img{
   width: 200px;
   justify-self: center;
}
@media (min-width: 576px){
    .posting{
      grid-template-columns: repeat(2, 1fr);  
      align-items: center;
      padding: 5rem 2rem 0;
      margin: auto;
    }
.post-title{
 font-size: 2rem;
 font-weight: 800;
 margin: 1rem;
}    
.post-img{
    width: 100%;
    order: 1;
}
button{
    display: inline-block;
 background-color: rgb(238, 134, 151);
 color: #fff;
 padding:1rem 1.5rem ;
 border-radius: 0.5rem;
 font-weight: 600; 
}
footer{
    width: 100%;
    height: 200px;
    background-color:rgb(24, 25, 26) ;

}
.fot{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: rgb(253, 252, 252);
    text-align: center;
   display: inline-block;
   padding: 30px;
   margin: 45px 0 0 0

}